<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoutePlanner.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <RoutePlanner.Settings1>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="AKDLink" serializeAs="String">
                <value />
            </setting>
            <setting name="Territories" serializeAs="String">
                <value />
            </setting>
            <setting name="CenterID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NotEqualTerritoryColor" serializeAs="String">
                <value>Pink</value>
            </setting>
            <setting name="SelectedOrderColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="PlannedFine" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="NotFoundColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="UnplannedErrorColor" serializeAs="String">
                <value>Pink</value>
            </setting>
            <setting name="PlannedWithErrorColor" serializeAs="String">
                <value>Blue</value>
            </setting>
        </RoutePlanner.Settings1>
    </userSettings>
</configuration>
